.history-item-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'roboto';
  padding: 10px;
}

.date-time {
  color: #2850a7;
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
}

.logo-title-url-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-title-url-container {
  display: flex;
  flex-direction: row;
}
.image {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-right: 10px;
}

.title-url-container {
  display: flex;
  flex-direction: column;
}
.title-container {
  display: flex;
}
.title {
  color: #2850a7;
  font-weight: bold;
  font-size: 16px;
}

.domainUrl {
  color: #6697ff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.delete-button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 10px;
  width: 100px;
  height: 100px;
}
.delete-icon {
  height: 20px;
  width: 20px;
  margin-top: 15px;
}
